{
  "ports": {
    "http": "80",
    "https": "443"
  },
  "tls": {
    "cert": "./cert/watchnow.crt",
    "key": "./cert/watchnow.key",
    "hpkp": "FixUllbfkfGTtj8dHkUsjDb9Y1FsY8lJYLfIAYwChR4="
  },
  "elasticsearch": {
    "host": "localhost",
    "port": "9200",
    "user": "",
    "pass": "",
    "index": "watchnow-hls"
  },
  "host": "ec233.akamaihls.com",
  "aes": "220318054fb290cd1d2a255dcc5eb64be500e65c48f1655ab509f4dd7625d75f",
  "movies": "./movies/",
  "tv": "./tv/",
  "debug": {
    "verbosityLevel": 2
  }
}